In [27]:
import pandas as pd
import matplotlib as plt

In [9]:
data = pd.read_csv('D:/GitHub/COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/01-01-2021.csv')

In [10]:
type(data)

pandas.core.frame.DataFrame

In [11]:
data.head(10)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-01-02 05:22:33,33.93911,67.709953,52513,2201,41727,8585,Afghanistan,134.896578,4.191343
1,NaN,NaN,NaN,Albania,2021-01-02 05:22:33,41.15330,20.168300,58316,1181,33634,23501,Albania,2026.409062,2.025173
2,NaN,NaN,NaN,Algeria,2021-01-02 05:22:33,28.03390,1.659600,99897,2762,67395,29740,Algeria,227.809861,2.764848
3,NaN,NaN,NaN,Andorra,2021-01-02 05:22:33,42.50630,1.521800,8117,84,7463,570,Andorra,10505.403482,1.034865
4,NaN,NaN,NaN,Angola,2021-01-02 05:22:33,-11.20270,17.873900,17568,405,11146,6017,Angola,53.452981,2.305328
5,NaN,NaN,NaN,Antigua and Barbuda,2021-01-02 05:22:33,17.06080,-61.796400,159,5,148,6,Antigua and Barbuda,162.364186,3.144654
6,NaN,NaN,NaN,Argentina,2021-01-02 05:22:33,-38.41610,-63.616700,1629594,43319,1426676,159599,Argentina,3605.633332,2.658269
7,NaN,NaN,NaN,Armenia,2021-01-02 05:22:33,40.06910,45.038200,159738,2828,143355,13555,Armenia,5390.664389,1.770399
8,NaN,NaN,Australian Capital Territory,Australia,2021-01-02 05:22:33,-35.47350,149.012400,118,3,114,1,"Australian Capital Territory, Australia",27.563653,2.542373
9,NaN,NaN,New South Wales,Australia,2021-01-02 05:22:33,-33.86880,151.209300,4947,54,0,4893,"New South Wales, Australia",60.938655,1.091571

In [12]:
data.set_index('Country_Region', inplace=True)

In [13]:
data.head(10)

,FIPS,Admin2,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
Country_Region,,,,,,,,,,,,,
Afghanistan,NaN,NaN,NaN,2021-01-02 05:22:33,33.93911,67.709953,52513,2201,41727,8585,Afghanistan,134.896578,4.191343
Albania,NaN,NaN,NaN,2021-01-02 05:22:33,41.15330,20.168300,58316,1181,33634,23501,Albania,2026.409062,2.025173
Algeria,NaN,NaN,NaN,2021-01-02 05:22:33,28.03390,1.659600,99897,2762,67395,29740,Algeria,227.809861,2.764848
Andorra,NaN,NaN,NaN,2021-01-02 05:22:33,42.50630,1.521800,8117,84,7463,570,Andorra,10505.403482,1.034865
Angola,NaN,NaN,NaN,2021-01-02 05:22:33,-11.20270,17.873900,17568,405,11146,6017,Angola,53.452981,2.305328
Antigua and Barbuda,NaN,NaN,NaN,2021-01-02 05:22:33,17.06080,-61.796400,159,5,148,6,Antigua and Barbuda,162.364186,3.144654
Argentina,NaN,NaN,NaN,2021-01-02 05:22:33,-38.41610,-63.616700,1629594,43319,1426676,159599,Argentina,3605.633332,2.658269
Armenia,NaN,NaN,NaN,2021-01-02 05:22:33,40.06910,45.038200,159738,2828,143355,13555,Armenia,5390.664389,1.770399
Australia,NaN,NaN,Australian Capital Territory,2021-01-02 05:22:33,-35.47350,149.012400,118,3,114,1,"Australian Capital Territory, Australia",27.563653,2.542373
Australia,NaN,NaN,New South Wales,2021-01-02 05:22:33,-33.86880,151.209300,4947,54,0,4893,"New South Wales, Australia",60.938655,1.091571

In [14]:
data.Active

Country_Region
Afghanistan        8585
Albania           23501
Algeria           29740
Andorra             570
Angola             6017
                  ...
Ukraine               0
Nauru                 0
New Zealand           0
Tuvalu                0
United Kingdom        0
Name: Active, Length: 4011, dtype: int64

In [53]:
data.describe()

,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
count,3265.000000,3922.000000,3922.000000,4.011000e+03,4011.000000,4.011000e+03,4.011000e+03,3922.000000,3963.000000
mean,32386.688208,35.768908,-71.113714,2.103663e+04,476.763650,1.180731e+04,9.259591e+03,5738.940929,2.228699
std,18017.294540,13.391261,55.220345,1.055323e+05,2833.345436,8.193885e+04,5.719777e+04,3227.374130,17.174874
min,66.000000,-71.949900,-175.198200,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,19049.000000,33.202974,-96.580090,7.010000e+02,9.000000,0.000000e+00,5.780000e+02,3536.967442,0.969239
50%,30067.000000,37.910342,-86.708116,1.968000e+03,31.000000,0.000000e+00,1.657000e+03,5840.344304,1.551567
75%,47039.000000,42.181730,-77.358102,7.693500e+03,112.000000,0.000000e+00,4.915500e+03,7752.568815,2.341350
max,99999.000000,71.706900,178.065000,2.636045e+06,81593.000000,2.114760e+06,2.400750e+06,27388.219766,1026.206897

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4011 entries, Afghanistan to United Kingdom
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FIPS                 3265 non-null   float64
 1   Admin2               3270 non-null   object
 2   Province_State       3833 non-null   object
 3   Last_Update          4011 non-null   object
 4   Lat                  3922 non-null   float64
 5   Long_                3922 non-null   float64
 6   Confirmed            4011 non-null   int64
 7   Deaths               4011 non-null   int64
 8   Recovered            4011 non-null   int64
 9   Active               4011 non-null   int64
 10  Combined_Key         4011 non-null   object
 11  Incident_Rate        3922 non-null   float64
 12  Case_Fatality_Ratio  3963 non-null   float64
dtypes: float64(5), int64(4), object(4)
memory usage: 567.7+ KB

In [23]:
data.shape

(4011, 13)

In [24]:
data.columns

Index(['FIPS', 'Admin2', 'Province_State', 'Last_Update', 'Lat', 'Long_',
       'Confirmed', 'Deaths', 'Recovered', 'Active', 'Combined_Key',
       'Incident_Rate', 'Case_Fatality_Ratio'],
      dtype='object')

In [52]:
data.index

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Australia',
       ...
       'Winter Olympics 2022', 'Antarctica', 'United Kingdom',
       'United Kingdom', 'Korea, North', 'Ukraine', 'Nauru', 'New Zealand',
       'Tuvalu', 'United Kingdom'],
      dtype='object', name='Country_Region', length=4011)

In [33]:
data.sort_values(by=['Deaths'], ascending=False)

,FIPS,Admin2,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
Country_Region,,,,,,,,,,,,,
United Kingdom,NaN,NaN,England,2021-01-02 05:22:33,52.355500,-1.174300,2190702,81593,0,2125971,"England, United Kingdom",3913.561236,2.954806
France,NaN,NaN,NaN,2021-01-02 05:22:33,46.227600,2.213700,2636045,64399,170896,2400750,France,4039.925429,2.443016
Iran,NaN,NaN,NaN,2021-01-02 05:22:33,32.427908,53.688046,1231429,55337,995570,180522,Iran,1466.109901,4.493722
India,NaN,NaN,Maharashtra,2021-01-02 05:22:33,19.449759,76.108221,1935636,49580,1828546,57510,"Maharashtra, India",1571.844747,2.561432
Brazil,NaN,NaN,Sao Paulo,2021-01-02 05:22:33,-23.550500,-46.633300,1466191,46775,1287986,131430,"Sao Paulo, Brazil",3192.990778,3.190239
...,...,...,...,...,...,...,...,...,...,...,...,...,...
US,90042.0,Unassigned,Pennsylvania,2021-01-02 05:22:33,NaN,NaN,0,0,0,0,"Unassigned, Pennsylvania, US",NaN,NaN
US,72001.0,Adjuntas,Puerto Rico,2021-01-02 05:22:33,18.180117,-66.754367,315,0,0,315,"Adjuntas, Puerto Rico, US",1814.202615,0.000000
US,72003.0,Aguada,Puerto Rico,2021-01-02 05:22:33,18.360255,-67.175131,678,0,0,678,"Aguada, Puerto Rico, US",1847.713523,0.000000
US,72005.0,Aguadilla,Puerto Rico,2021-01-02 05:22:33,18.459681,-67.120815,860,0,0,860,"Aguadilla, Puerto Rico, US",1710.932060,0.000000
United Kingdom,NaN,NaN,Pitcairn Islands,2021-01-02 05:22:33,-24.376800,-128.324200,0,0,0,0,"Pitcairn Islands, United Kingdom",0.000000,0.000000

In [34]:
india = data.loc['India']
brazil = data.loc['Brazil']

In [37]:
india.head()

,FIPS,Admin2,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
Country_Region,,,,,,,,,,,,,
India,NaN,NaN,Andaman and Nicobar Islands,2021-01-02 05:22:33,11.225999,92.968178,4946,62,4826,58,"Andaman and Nicobar Islands, India",1185.988740,1.253538
India,NaN,NaN,Andhra Pradesh,2021-01-02 05:22:33,15.912900,79.740000,882612,7108,871916,3588,"Andhra Pradesh, India",1637.395998,0.805337
India,NaN,NaN,Arunachal Pradesh,2021-01-02 05:22:33,27.768456,96.384277,16719,56,16564,99,"Arunachal Pradesh, India",1064.593896,0.334948
India,NaN,NaN,Assam,2021-01-02 05:22:33,26.357149,92.830441,216251,1049,211910,3292,"Assam, India",607.326546,0.485084
India,NaN,NaN,Bihar,2021-01-02 05:22:33,25.679658,85.604840,252219,1400,245476,5343,"Bihar, India",202.098678,0.555073

In [36]:
brazil.head()

,FIPS,Admin2,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
Country_Region,,,,,,,,,,,,,
Brazil,NaN,NaN,Acre,2021-01-02 05:22:33,-9.0238,-70.8120,41689,796,33670,7223,"Acre, Brazil",4726.992352,1.909377
Brazil,NaN,NaN,Alagoas,2021-01-02 05:22:33,-9.5713,-36.7820,105091,2496,99710,2885,"Alagoas, Brazil",3148.928928,2.375084
Brazil,NaN,NaN,Amapa,2021-01-02 05:22:33,0.9020,-52.0030,68361,926,52670,14765,"Amapa, Brazil",8083.066602,1.354574
Brazil,NaN,NaN,Amazonas,2021-01-02 05:22:33,-3.4168,-65.8561,201574,5295,170178,26101,"Amazonas, Brazil",4863.536793,2.626827
Brazil,NaN,NaN,Bahia,2021-01-02 05:22:33,-12.5797,-41.7007,494684,9159,478198,7327,"Bahia, Brazil",3326.039611,1.851485

In [47]:
india_summary = india.head(5)

In [48]:
india_summary.shape

(5, 13)

In [50]:
india_summary.describe()

,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
count,0.0,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,NaN,21.388832,89.505547,274549.400000,1935.000000,270138.400000,2476.000000,939.480771,0.686796
std,NaN,7.366545,6.725754,358050.270277,2952.537891,353845.201441,2324.808702,551.716394,0.359543
min,NaN,11.225999,79.740000,4946.000000,56.000000,4826.000000,58.000000,202.098678,0.334948
25%,NaN,15.912900,85.604840,16719.000000,62.000000,16564.000000,99.000000,607.326546,0.485084
50%,NaN,25.679658,92.830441,216251.000000,1049.000000,211910.000000,3292.000000,1064.593896,0.555073
75%,NaN,26.357149,92.968178,252219.000000,1400.000000,245476.000000,3588.000000,1185.988740,0.805337
max,NaN,27.768456,96.384277,882612.000000,7108.000000,871916.000000,5343.000000,1637.395998,1.253538

In [54]:
india.columns

Index(['FIPS', 'Admin2', 'Province_State', 'Last_Update', 'Lat', 'Long_',
       'Confirmed', 'Deaths', 'Recovered', 'Active', 'Combined_Key',
       'Incident_Rate', 'Case_Fatality_Ratio'],
      dtype='object')

In [66]:
Assam = india.loc['Province_State'] == 'Assam'

In [68]:
Assam.describe()

count        13
unique        1
top       False
freq         13
Name: Province_State, dtype: object

In [70]:
Assam.shape

(13,)